<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Facebook:AppId" value="123456" />
    <add key="Facebook:AppSecret" value="abcdefg" />
    <add key="Facebook:AppNamespace" value="MyApp" />
    <add key="Facebook:AppUrl" value="https://apps.newfacebook.example.com/myapp" />
    <add key="Facebook:AuthorizationRedirectPath" value="~/Authorize/Index" />
    <add key="Facebook:CannotCreateCookiesRedirectPath" value="~/NoCookies/Index" />
  </appSettings>
</configuration>